body {
    width: 1000px;
    background-image:url("../assets/images/bg.jpg");
    background-repeat:no-repeat;
}

canvas {
    border: dashed 1px black;
    margin-left: 250px;
    margin-right: auto;
}
